{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'js/prefixfree.min.js' %}"></script>
<script type="text/javascript">

    $('input[id=file_upload]').change(function() {
        $('#photoCover').val($(this).val());
    });
</script>  
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Search Engine</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'style/cover.css' %}" rel="stylesheet">

  </head>

  <body>
    <!-- loading -->
    <div class="modal fade" id="load" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Movie Search Engine</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Searching for movies</h1>
            <br/>  
            <form role="form" method="post" action="../../main/upload" enctype="multipart/form-data" id="file_upload_form">
                <input id="file_upload" type="file" name=query style="display:none"> 
                <div class="row"> 
                    <div class="col-lg-1"></div>
                    <div class="input-group col-lg-10">  
                        <input id="photoCover" class="form-control" type="text">  
                        <a class="btn btn-default input-group-addon" onclick="$('input[id=file_upload]').click();">Browse</a>  
                    </div>  
                    <div class="col-lg-1"></div>
                </div>
            	<br/>  
                <input type="text" name="page" id="page_selector" hidden="hidden" value="1" />
                <div class="row"> 
                    <div class="col-lg-1"></div>
                    <input class="btn btn-lg btn-default col-lg-4" type="submit" name="image" value="Search by Image" id="search_button" onclick="loading();" />
                    <div class="col-lg-2">
                        <canvas id="c" ></canvas>
                    </div>
                    <input class="btn btn-lg btn-default col-lg-4" type="submit" name="audio" value="Search by Audio" id="search_button" onclick="loading();" />
                </div>
            </form>
          </div>

        </div>

      </div>

    </div>
    
</body>


</html>
